<div class="nav-bar">
    <ul>
      <li><a id="logo" href="/">NOW</a></li>
      <form action="/search" method="POST" >
        
        <input type="text" id="search" name="search" >
        <a href=/account><img class="filter-white" src="/assets/img/account.svg" alt="Account"/></a>
        <a href=/cart><img class="filter-white" src="/assets/img/cart.svg" alt="Cart"/></a>

       </form>


</ul>
</div>